<form>
    <label for="observer">Observer's Name:</label><br>
    <input type="text" id="observer" name="observer"><br>

    <label for="instructor">Instructor's Name:</label><br>
    <input type="text" id="instructor" name="instructor"><br>

    <label for="school">School Name:</label><br>
    <input type="text" id="school" name="school"><br><br>


    <label for="date">Date:</label><br>
    <input type="text" id="date" name="date"><br>

    <label for="grade">Grade:</label><br>
    <input type="text" id="grade" name="grade"><br>

    <label for="topic">Topic:</label><br>
    <input type="text" id="topic" name="topic"><br>

    <label for="student">Student's Name:</label><br>
    <input type="text" id="student" name="student"><br>
    
    <input type="submit" id="submit" value="Submit">
</form>