* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    outline-style: none;
    padding-left: 5px;
    padding-top: 5px;
  }
  
body {
    background-color: #F7ECEC;
}

h2 {
    font-size: 23px;
    font-style: italic;
}

h3 {
    text-decoration: underline;
    font-weight: bold;
    padding-bottom: 5px;
}

button {
    background-color: #d79c9c;
    border: 1px groove black;
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 15px;
    width: 95px;
}

button:hover {
    background-color: #c36a6a;
}

#ul-tables {
    border-radius: 15px;
    width: 280px;
    border: .5px dashed black;
    padding-left: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #d79c9c;
}

#ul-observations {
    border-radius: 15px;
    width: 100px;
    border: 1px dashed black;
    padding-left: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #d79c9c;
}

#submit {
    background-color: #d79c9c;
    border: 1px groove black;
    padding: 5px;
    margin-top: 8px;
    margin-bottom: 18px;
}

#submit:hover {
    background-color: #c36a6a;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 10px;
}

.flex-container > div {
    margin-right: 55px;
}

a {
    background-color: #d79c9c;
    border-radius: 10px;
    border: 1px groove black;
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 15px;
    width: 95px;
    color: black;
}

a:hover {
    background-color: #c36a6a;
}