<!DOCTYPE html>
<html lang="en">
<head>
  <title>PE Tracker</title>
  <meta charset="UTF-8">
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
  <h1>UW-L Modified P.E.T.A.I.</h1>
  <h2>Physical Education Teacher</h2>
  <h2>Assessment Instruction</h2>
  <% tasks.forEach(function(r) {%>
    <button id='<%= r.id %>'
        onClick='javascript:logTask(<%= r.id %>);'><%= r.name %></button>
  <% }); %>
  <script>
      let currentTaskId = null;

      const logTask = async function(id) {
          const response = await fetch('/log', {
              method: 'POST',
              headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                  users_id: -1,
                  students_id: -1,
                  tasks_id: id,
                  duration: "'+00:00:01'"
              })
          });
          const result = await response.text();
          console.log(result);

          currentTaskId = id;
      };
  </script>
</body>
</html>